$primary-bold-color: #000076;
$white: #fff;
$black: rgba(0, 0, 0, 1);
$black_opacity_6: rgba(0, 0, 0, 0.6);
$primary_light_gray: #595b64;
$primary_dark_gray: #36363c;
$nav_border_color: #b0d5ed;
$button_primary: #0077c4;
$nutral_normal: #777985;
$nutral_light: #f0f1f2;
$nutral_light_hover: #ebebed;
$nutral_dark: #474950;
$surface_200: #f3f3f3;
$border_50: #e7e7e7;
$azure_light: #f6f7f7;
